@model int?

@{
    var Credits = 0;
    if (Model.HasValue)
    {
        Credits = Model.Value;
    }
}

@for (int i = 1; i <= 5; i++)
{
    <label>
        @Html.RadioButton("", i, i == Credits ) @i
    </label>
}